<div> 
  <mat-toolbar color="primary">

<a mat-button class="companyName" routerLink="/">
<span routerLink="/" routerLinkActive='active'>Site name</span>
</a>
<span class="example-spacer"></span>
<div fxShow="true" fxHide.lt-md="true">
  <a mat-button routerLink="/home" routerLinkActive='active'>Home</a>
<a mat-button routerLink="/about" routerLinkActive='active'>About us</a>
<a mat-button routerLink="/users" routerLinkActive='active'>Users List</a>
<a mat-button routerLink="/register" routerLinkActive='active'>Register</a>
<a mat-button routerLink="/login" routerLinkActive='active'>Login</a>
</div>
</mat-toolbar>
</div>